# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# exclude additional uneeded sub-directories
out/*
.vs/*
build/*
/ext
_deps
vcpkg
vcpkg_installed
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Debug/*
x64/*
ramster.dir/*
ALL_BUILD*
INSTALL*
ramster*
ZERO_CHECK*
/CMakeSettings.json
